<h2>マイページ</h2>

<div class="profile">
  <div class="profile-image">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "avatar" %>
    <% else %>
      <%= image_tag "default-avatar.png", class: "avatar" %>
    <% end %>
  </div>

  <div class="profile-info">
    <p><strong>氏名:</strong> <%= @user.name %></p>
    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
    <p><strong>電話番号:</strong> <%= @user.phone_number %></p>
  </div>

  <div class="actions">
    <%= link_to "プロフィール編集", edit_users_profile_path, class: "btn btn-primary" %>
    <%= link_to "会員情報編集", edit_users_account_path, class: "btn btn-warning" %>
    <%= link_to "予約一覧", users_reservations_path, class: "btn btn-secondary" %>
    <%= link_to "レビュー一覧", users_reviews_path, class: "btn btn-secondary" %>
  </div>
</div>