<h2>会員情報編集</h2>
<%= flash[:notice] %> 
<%= form_with model: @user, url: users_mypage_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :name, "氏名" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :username, "表示名" %>
    <%= f.text_field :username %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, "画像" %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号" %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "変更保存", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>退会</h3>
<p>退会すると、すべてのデータが削除されます。</p>
<%= button_to "退会する", users_mypage_path, method: :delete, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" } %>