<h1>メニュー一覧</h1>

<div class="row">
  <% @menus.each do |menu| %>
    <div class="col-md-4">
      <h2><%= link_to menu.name, menu_path(menu) %></h2>
      <p><%= menu.description %></p>
      <p><strong>価格:</strong> ¥<%= menu.price %></p>
      
      <% if menu.image.attached? %>
        <%= image_tag menu.image, class: "img-fluid" %>
      <% else %>
        <%= image_tag "placeholder.jpg", class: "img-fluid" %>
      <% end %>
    </div>
  <% end %>
</div>