<h1><%= @menu.name %></h1>
<p><%= @menu.description %></p>
<p>価格: ¥<%= @menu.price %></p>

<%= image_tag @menu.image, class: "img-fluid", alt: @menu.name, style: "max-width: 150px;" if @menu.image.present? %>


<h2>レビュー一覧</h2>
<% if @menu.reviews.present? %>
  <div class="list-group">
    <% @menu.reviews.each do |review| %>
      <div class="list-group-item">
        <p><strong>評価:</strong> ⭐️ <%= review.rating %>/5</p>
        <p><strong>レビュー:</strong> <%= review.content %></p>
        <p><strong>投稿者:</strong> <%= review.user.username %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>まだレビューがありません。</p>
<% end %>

<% if user_signed_in? %>
  <%= link_to "レビューを書く", new_users_menu_review_path(@menu), class: "btn btn-primary mt-3" %>
<% end %>
<%= link_to 'メニュー一覧へ戻る', menus_path, class: "btn btn-secondary" %>