<h1><%= @menu.name %></h1>
<p><%= @menu.description %></p>
<p>価格: ¥<%= @menu.price %></p>

<%= image_tag @menu.image, class: "img-fluid", alt: @menu.name, style: "max-width: 150px;" if @menu.image.present? %>

<h2 class="mt-4">レビュー一覧</h2>
<% if @menu.reviews.present? %>
  <div class="list-group mb-4">
    <% @menu.reviews.each do |review| %>
      <div class="list-group-item">
        <p><strong>評価:</strong> ⭐️ <%= review.rating %>/5</p>
        <p><strong>レビュー:</strong> <%= review.content %></p>
        <p><strong>投稿者:</strong> <%= review.user.username %></p>
        <p<<strong>投稿日:</strong> <%= review.created_at.strftime("%Y年%m月%d日 %H:%M") %></P>
      </div>
    <% end %>
  </div>
<% else %>
  <p>まだレビューがありません。</p>
<% end %>

<div class="d-flex align-items-center gap-2 mt-3">
  <% if user_signed_in? %>
    <%= link_to "レビューを書く",
                new_users_menu_review_path(@menu),
                class: "btn btn-primary" %>
  <% end %>

  <%= link_to "メニュー一覧へ戻る",
              menus_path,
              class: "btn btn-secondary" %>
</div>