<h1>管理者ダッシュボード</h1>
<p>ここからメニューを管理できます。</p>

<div class="list-group">
  <%= link_to '商品一覧', admin_menus_path, class: "list-group-item list-group-item-action" %>
  <%= link_to '会員一覧', admin_users_path, class: "list-group-item list-group-item-action" %>
  <%= link_to 'レビュー管理', admin_reviews_path, class: "list-group-item list-group-item-action" %>
  <%= link_to '予約管理', admin_reservations_path, class: "list-group-item list-group-item-action" %>
  <%= link_to '管理者ブログ', admin_blogs_path, class: "list-group-item list-group-item-action" %>
</div>



