<h2>あなたのレビュー一覧</h2>

<% if @reviews.present? %>
  <% @reviews.each do |review| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5>対象メニュー: <%= link_to review.menu.name, menu_path(review.menu) %></h5>
        <p>評価: ⭐️ <%= review.rating %>/5</p>
        <p>レビュー: <%= review.content %></p>
        <%= link_to "編集", edit_users_menu_review_path(review.menu, review), class: "btn btn-warning btn-sm" %>
        <%= link_to "削除", users_menu_review_path(review.menu, review), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>
        
      </div>
    </div>
  <% end %>
<% else %>
  <p>まだレビューがありません。</p>
<% end %>