<h2>会員一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td>
          <%= link_to '詳細', admin_user_path(user), class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "管理者ダッシュボードへ戻る", admin_root_path, class: "btn btn-secondary" %>